---
import Title from "../Title/Title.astro";
import ServicesItem from "./ServicesItem.astro";
---

<section class="container mx-auto flex flex-col my-8">
  <main class="flex-1">
    <div class="container mx-auto">
      <Title title="Valores" />
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <ServicesItem
          title="Integridad y seguridad"
          context="Actuamos siempre con honestidad y transparencia en todas nuestras operaciones."
        >
        <img class="w-11 mr-2" src="/icons/candado.png" alt="">
        </ServicesItem>
        <ServicesItem
          title="Excelencia"
          context=" Buscamos la calidad en todos los aspectos de la gestión de activos y la administración de fondos."
        >
          <img class="w-11 mr-2" src="/icons/excelencia.png" alt="">
        </ServicesItem>
        <ServicesItem
          title="Confianza"
          context="Construimos y mantenemos relaciones de confianza sólidas con nuestros inversionistas y socios."
        >
          <img class="w-11 mr-2" src="/icons/apreton.png" alt="">
        </ServicesItem>
        <ServicesItem
          title="Inclusión financiera"
          context="Democratizamos el acceso a las inversiones y al financiamiento a través de propuestas innovadoras, apalancadas en la tecnología y la innovación."
        >
        <img class="w-11 mr-2" src="/icons/proteger.png" alt="">
        </ServicesItem>
        <ServicesItem
          title="Sostenibilidad"
          context="Promovemos prácticas financieras sostenibles y responsables en beneficio a largo plazo de los inversionistas y el ambiente."
        >
        <img class="w-11 mr-2" src="/icons/sostenibilidad.png" alt="">
        </ServicesItem>
      </div>
    </div>
  </main>
</section>
