<section class="parallax-section parallax1 mt-20">
  <div class="container mx-auto">
    <h3 class="md:text-5xl md:leading-[60px]">En Anka SAFI procuramos que nuestros colaboradores vivan y sientan nuestros valores. Nos esforzamos en crear un ambiente laboral humano, donde existan oportunidades de crecimiento y desarrollo profesional.</h1>
  </div>
</section>

<style>
  
.parallax-section {
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 3em;
  text-shadow: 1px 1px 2px black;
}

.parallax1 {
  background-image: url('https://ankasafi.pe/wp-content/uploads/2022/08/Anka-Safi-Enjoy.jpeg');
  background-size: 100vmax;
}

</style>