<a href="/contacto" class="w-inline-block cursor-pointer">
  <div class="uppercase font-extrabold flex justify-center items-center text-[#fff] bg-[#211c22] py-4 px-4 rounded-lg h-14">Hablar con un experto</div>
</a>