---
import Title from "../Title/Title.astro";
import QuestionItem from "./QuestionItem.astro";
---

<section class="container mx-auto ">
  <Title title="Conoce lo que hacemos"/>
  <QuestionItem
    pregunta="¿Qué es ANKA SAFI y qué servicios ofrece?"
    respuesta="ANKA SAFI es un Sociedad Administradora de Fondos de Inversión regulada y supervisada, cuenta con licencia de funcionamiento otorgada Superintendencia de Mercado de Valores (SMV) mediante Resolución N° 094-2021-SMV/02, ofrece fondos de inversión de oferta pública Yaku Soles y Yaku dólares también regulados y supervisados por la SMV, para mayor detalle de ANKA o los fondos Yaku sole y dólares, podrán ingresar al portal de la SMV a este Link SMV."
  />
  <QuestionItem
    pregunta="¿En qué invierten los fondos de inversión que administra ANKA SAFI?"
    respuesta="ANKA SAFI administra 2 fondos de inversión de oferta pública, Yaku soles y Yaku dólares, éstos fondos invierten principalmente en Factoring y Confirming, ambos domésticos y sin recurso. "
  />
  <QuestionItem
    pregunta="¿Quienes pueden invertir en los fondos de ANKA SAFI?"
    respuesta="Pueden invertir inversionistas Persona Natural o Jurídica, que cumplan con los requisitos y documentos que debe presentar a revisión del equipo de ANKA SAFI."
  />
  <QuestionItem
    pregunta="¿Cuál es el monto mínimo de inversión en los fondos de inversión?"
    respuesta="Los montos mínimos de inversión son S/.1.00 en el fondo Yaku soles y USD 1.00 en el fondo Yaku dólares, nuestro objetivo es promover el acceso a vehículos de inversión regulados, supervisados y seguros a todo inversionista que pueda estar interesado en iniciar con sus primeras inversiones.  "
  />
  <QuestionItem
    pregunta="¿Qué rentabilidad ofrecen los fondos Yaku soles y dólares?"
    respuesta="Ambos fondos ofrecen rentabilidades variables, se estiman rangos de entre 14% – 18% anualizado en ambas monedas. Es importante considerar que estas tasas se encuentran neteadas de nuestras comisiones pero no de los impuestos."
  />
  <QuestionItem
    pregunta="¿Qué comisiones se cobran al invertir en los fondos Yaku soles y dólares?"
    respuesta="En Anka SAFI cobramos una comisión de administración del 2% y una comisión éxito variable que depende de la rentabilidad lograda en el periodo. Estas comisiones ya se encuentran descontadas de la tasa de rentabilidad que se indica en la anterior pregunta. Para mayor detalle se puede revisar en el reglamento de los fondos."
  />
  <QuestionItem
    pregunta="¿Cómo debo tributar la rentabilidad obtenida en los fondos Yaku soles y dólares?"
    respuesta="¡No debes preocuparte! Anka SAFI se encarga de retener y pagar tu impuesto a la renta de segunda categoría generado por la ganancia que logras trimestralmente. Retenemos el 6.25% del 80% equivalente al 5% de tus rendimientos brutos para luego emitir una constancia de retención a favor de cada inversionista persona natural. Para aquellos inversionistas que sean persona jurídica pueden conocer más de las normas tributarias y contables que rigen para el desarrollo de inversiones."
  />
  <QuestionItem
    pregunta="¿Cómo se puede comenzar a invertir?"
    respuesta="Únicamente se pueden desarrollar inversiones cuando inician ofertas públicas, que regularmente comienzan las últimas 2 semanas de cada trimestre calendario y finalizan dentro los primeros 10 días hábiles del inicio del siguiente trimestre calendario."
  />
  <QuestionItem
    pregunta="¿Qué requisitos y documentos se necesitan para comenzar a invertir?"
    respuesta="Para comenzar a invertir se requiere ser persona natural o jurídica de origen local o internacional mayores de edad y que no presenten ninguna observación sin regularizar en el sistema financiero, listas PEPS y PLAFT. Los documentos que requieren las personas naturales son; su DNI/CE/Pasaporte, que complete y firme la Ficha de inversionista y Contrato de suscripción de nuevas participaciones. Los documentos que requieren las personas jurídicas son; la ficha RUC, copia literal, vigencia de poder, DNI/CE/Pasaporte de la persona que firmará, que complete y firme la Ficha de inversionista y Contrato de suscripción de nuevas participaciones."
  />
  <QuestionItem
    pregunta="¿Puedo sacar mi dinero antes de cumplir el plazo de inversión?"
    respuesta="Si inviertes con Anka, podrás retirar parcial y totalmente tu inversión cada 3 meses, cada vez que haya oferta pública, siguiendo los lineamientos detallados en el Reglamento de Participación."
  />
  <QuestionItem
    pregunta="¿Con qué periodicidad se pagan los rendimientos y cuándo se depositan en la cuenta del inversionista?"
    respuesta="Los pagos se dan cada 3 meses al finalizar el período de rentabilización, siempre durante los 10 primeros días de cada inicio de trimestre, al mismo tiempo se envía el estado de cuenta de cada inversionista, indicando la rentabilidad lograda en el periodo y las retenciones hechas por los impuestos que se retuvieron por parte de ANKA SAFI, para facilitar la gestión operativa del Inversionista/Partícipe."
  />
  <QuestionItem
    pregunta="¿Cuál es el historial de rendimiento del fondo en el factoring?"
    respuesta="El primer trimestre de operaciones de los fondos Yaku soles y Yaku dólares lograron rentabilidades por encima a nuestros estimados, obteniendo 3.91% mensual en soles y 2.35% mensual en dólares. Considerar que las tasas de rentabilidad que ofrecen nuestros fondos son variables y que los rendimientos previos no aseguran rentabilidades futuras. Pueden revisar nuestros estados de inversión presentados a la SMV para tener mayor detalle, en soles y en dólares"
  />
  <QuestionItem
    pregunta="¿Cómo se seleccionan y evalúan las cuentas por cobrar que forman parte del portafolio de factoring?"
    respuesta="Las operaciones que Yaku soles y dólares toman están enfocadas en el top 2,000 de las empresas más grandes del Perú, de igual manera el proceso de evaluación consta de 2 etapas, la primera es la revisión y aprobación por la gerencia de riesgos, para que luego se presente la propuesta de negocio al comité de inversiones conformado por 3 directivos que cuentan con más de 25 años de experiencia en el sector y trabajan de manera autónoma e independiente a Anka, aprobando o desaprobando las operaciones. Finalmente, luego de ser aprobado y cumpliendo con las condiciones impuestas por el comité de inversiones, recién se procede con los desembolsos por las operaciones presentadas."
  />
  <QuestionItem
    pregunta="¿Qué es el factoring y cómo funciona?"
    respuesta="El factoring es un producto financiero en el que una empresa vende sus cuentas por cobrar a un tercero, obteniendo efectivo de manera inmediata a cambio, lo que ayuda a mejorar su flujo de efectivo y financiar sus operaciones."
  />
  <QuestionItem
    pregunta="¿Qué ventajas ofrece el factoring como inversión?"
    respuesta="El factoring como inversión ofrece ventajas como flujos de efectivo predecibles, diversificación de cartera, rendimientos consistentes y potencial para mitigar riesgos crediticios a través de la selección adecuada de cuentas por cobrar. Además, proporciona una inversión respaldada por activos comerciales tangibles."
  />
  <QuestionItem
    pregunta="¿Cuáles son los riesgos asociados con el factoring como inversión?"
    respuesta="Los riesgos del factoring incluyen riesgo crediticio (impago de deudores o morosidad), concentración de cartera, competencia en el mercado y dependencia de la salud financiera de las empresas que venden sus cuentas por cobrar. También pueden existir riesgos legales y de cumplimiento. Es por ello que es relevante una correcta gestión del riesgo y cobranza, sobre la cual nos apoyamos para mantener niveles de morosidad controlados."
  />
  <QuestionItem
    pregunta="¿Cómo se gestiona la cobranza en ANKA SAFI?"
    respuesta="La gestión de cobranza en Factoring implica el seguimiento y recuperación de cuentas por cobrar adquiridas. Anka SAFI, un importante jugador en el mercado de factoring, destaca por su tecnología avanzada que automatiza la gestión de cobranza, mejorando la eficiencia y la recuperación de deudas, lo que optimiza el flujo de efectivo para las empresas."
  />
</section>
