---
import Title from "../Title/Title.astro";
import ArticleCard from "./ArticleCard.astro";
---

<section class="container mx-auto">
  <Title title="Enterate de las ultimas novedades" />
  <ArticleCard
    
  />
</section>
