---
import ArticleItem from "./ArticleItem.astro";
---

<section class="flex flex-wrap gap-5">
  <ArticleItem
    type="Artículo"
    title="Navegando en Inversiones directas, indirectas y la clave de la regulación"
    context="Invertir es una travesía fascinante, pero, como toda aventura, se presenta con opciones diversas, regulación y decisiones críticas. En este"
    date="31 Enero, 2024"
  />
  <ArticleItem
    type="Artículo"
    title="El factoring crece en Perú, pero ¿qué empresas lo utilizan?"
    context="Si queremos responder esta pregunta, primero es clave entender por qué se utiliza este recurso de financiamiento. Ingresar y posicionarse"
    date="22 Enero, 2024"
  />
</section>
