---
const { title } = Astro.props;
---

<section class="container mx-auto mb-8">
  <div class="flex items-center gap-3">
    <img
      draggable="false"
      src="https://ankasafi.pe/wp-content/uploads/2022/08/Anka-Icon.svg"
      class="align-middle inline-block h-auto max-w-full rounded-none shadow-none"
      alt=""
    />
    <h5 class="upercase text-4xl font-bold">
      {title}
    </h5>
  </div>
</section>
