---
const { title } = Astro.props;
import IconoTitle from "../IconoTitle.astro";
---

<section class="container mx-5 lg:md:sm:mx-auto mb-2">
  <div class="flex items-center gap-3">
    <IconoTitle/>
    <h5 class="upercase text-3xl font-bold">
      {title}
    </h5>
  </div>
</section>
