---
import Layout from '../layouts/Layout.astro';
import Questions from '../components/Questions/Questions.astro';
import BreadCrumbs from '../components/BreadCrumbs.astro';
import Baner from '../components/baner/Baner.astro';
import Title from '../components/Title/Title.astro';
import FloatingBtn from '../components/FloatingBtn.astro';
---

<Layout title="Preguntas - Anka Safi">
  <Baner src="/images/bg.jpeg" alt="reel" text="Diseña tu futuro financiero" textColor="con nosotros"/>
  <BreadCrumbs/>
  <Questions/>
  <section class="container mx-auto">
    <Title title="Te acompañamos en todo el proceso"/>
    <h2 class="text-lg font-semibold">
      Nuestros especialistas te ayudarán a encontrar la mejor alternativa para ti
    </h2>
  </section>
  <FloatingBtn/>
</Layout>

<style>
 
</style>