---

import BtnExpert from "../Btn/BtnExpert.astro";
import NavItem from "./NavItem.astro";
---

<div class=" fixed left-0 top-0 right-0 z-[900]">
  <div class="container relative z-10 flex justify-between items-center mx-auto py-8">
    <a href="/" class="logo-wrap relative float-left no-underline text-[#333333] self-center" draggable="false">
      <img
        src="https://ankasafi.pe/wp-content/uploads/2023/09/Anka-Safi-Logo.png"
        alt="Logo Anka"
        draggable="false"
        loading="lazy"
        class="w-28"
      />
    </a>
    <nav role="navigation" class="navigation relative float-right flex text-base">
      <div class="flex hidden lg:flex lg:gap-10 md:hidden sm:hidden">
        <NavItem item="Quienes somos" ref="/nosotros"/>
        <NavItem item="Inversiones" ref="/inversiones"/>
        <NavItem item="Blog" ref="/blog"/>
        <NavItem item="Preguntas" ref="/preguntas"/>
        <NavItem item="Contacto" ref="/contacto"/>
        <BtnExpert/>
      </div>
      <div class="hamburger lg:hidden md:block sm:block" id="hamburger-1">
       <span class="line bg-slate-200"></span>
       <span class="line bg-slate-200"></span>
       <span class="line bg-slate-200"></span>
     </div>
    </nav>
  </div>
</div>

<style>
.scrolled {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.014));
}
.navigation > a{
  text-decoration: none !important;
}
.hamburger .line{
  width: 50px;
  height: 5px;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover{
  cursor: pointer;
}
#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}
#hamburger-1.is-active .line:nth-child(1){
  transform: translateY(13px) rotate(45deg);
}
#hamburger-1.is-active .line:nth-child(3){
  transform: translateY(-13px) rotate(-45deg);
}
</style>

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script is:inline>
  $(document).ready(function(){
    $(".hamburger").click(function(){
      $(this).toggleClass("is-active");
    });

    $(window).scroll(function() {
      if ($(this).scrollTop() > 50) { // Ajusta el valor según sea necesario
        $('.fixed').addClass('scrolled');
      } else {
        $('.fixed').removeClass('scrolled');
      }
    });
  });
</script>
