---
import { Image } from "astro:assets";
import Title from "./Title/Title.astro";
---

<section class="container mx-auto mb-8">
  <div class="about-section relative px-5 pt-10 lg:md:sm:pt-28 pr-14">
    <div class="lg:md:sm:grid lg:md:sm:grid-cols-2">
      <!-- Image Column -->
      <div class="image-column relative hidden lg:md:sm:block">
        <div class="inner-column">
          <figure class="image-1">
            <Image
              width="600"
              height="580"
              src="https://ankasafi.pe/wp-content/uploads/2022/08/Contacto-Anka-Safi-Form.jpeg"
              alt="Imagen"
              class="h-[480px] w-[65%] mr-2 my-auto "
              draggable="false"
              loading="eager"
            />
          </figure>
        </div>
      </div>
      <div class="relative mb-12">
        <div class="inner-column">
          <div class="mb-11">
            <Title title="Te acompañamos en todo el proceso" />
            <h5
              class="shadow-text relative block leading-3 color-[#222222] pb-4 text-3xl"
            >
              Nuestros especialistas te ayudarán a encontrar la mejor
              alternativa para ti
            </h5>
          </div>
          <main class="mb-5">
            <h4 class="text-[#8265c2] font-semibold mt-5">
              Agenda una cita con nuestros especialistas
            </h4>
            <p class="leading-7 text-[#848484]">
              Llámanos de lunes a viernes de 9:00 a 17:00. O escríbenos
            </p>
            <div class="flex gap-3 mt-2">
              <Image
                src="/icons/telefono.png"
                alt="Logo telefono"
                width="30"
                height="35"
                draggable="false"
                loading="eager"
              />
              <span class="leading-7 text-[#848484]"> 965 717 315 </span>
            </div>
            <div class="flex gap-3 mt-2">
              <Image
                src="/icons/correo.png"
                alt="Logo correo"
                width="30"
                height="35"
                draggable="false"
                loading="eager"
              />
              <span class="leading-7 text-[#848484]">
                contacto@ankasafi.com
              </span>
            </div>
          </main>
          <div class="btn-box relative">
            <a
              href="/nosotros"
              class="uppercase py-4 px-14 relative inline-block leading-7 text-white overflow-hidden tracking-wide bg-[#a186dc]"
            >
              Escribenos al Whatsapp</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

  .about-section .image-column .inner-column {
    position: relative;
    padding-left: 110px;
    padding-bottom: 0px;
  }

  .about-section .image-column .inner-column:before {
    content: "";
    position: absolute;
    width: calc(50% + 80px);
    height: calc(100% + 100px);
    top: -50px;
    left: -3px;
    background: transparent;
    z-index: 0;
    border: 44px solid #a186dc;
  }

  .about-section .image-column .image-1 {
    position: relative;
  }

  .about-section .image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
    border-radius: 46px;
  }
</style>
