---
import Title from "./Title/Title.astro";
---

<section class="container mx-auto flex flex-col my-8">
  <Title title="Te acompañamos en todo el proceso" />
  <h2 class="text-lg font-semibold">
    Nuestros especialistas te ayudarán a encontrar la mejor alternativa para ti
  </h2>
</section>