---
import { Image } from "astro:assets";
---

<a href="https://wa.me/51965717315" class="float" target="_blank">
  <Image
    src="/icons/whatsapp.png"
    alt="Logo whatsapp"
    width="40"
    height="50"
    draggable="false"
    loading="eager"
    class="w-10 left-3 relative top-[10px]"
  />
</a>

<style>
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }

  .my-float {
    margin-top: 16px;
  }
</style>
