---
import Title from "./Title/Title.astro";
import { Image } from "astro:assets";
---
<footer class="container mx-auto bg-background py-12 w-full border-t">
  <div class="flex gap-8 justify-between">
    <div class="flex flex-col items-start gap-4 md:w-2/3">
      <Title title="¿Quieres comenzar a construir tu futuro financiero?"/>
      <a href="/contacto" class="mb-5 leading-7 text-[#848484] md:text-xl/relaxed -mt-8">Habla con nuestros especialistas</a>
      <a href="/terminos" class="mb-5 leading-7 text-[#848484]">Terminos y condiciones</a>
    </div>
    <div class="grid grid-cols-1">
      <div class="grid gap-2">
        <a class="text-sm text-muted-foreground hover:underline text-[#848484] md:text-base/relaxed" href="/nosotros">
          Quienes somos
        </a>
        <a class="text-sm text-muted-foreground hover:underline text-[#848484] md:text-base/relaxed" href="/inversiones">
          Inversiones
        </a>
        <a class="text-sm text-muted-foreground hover:underline text-[#848484] md:text-base/relaxed" href="/blog">
          Blog
        </a>
        <a class="text-sm text-muted-foreground hover:underline text-[#848484] md:text-base/relaxed" href="/pregunta">
          Pregunta
        </a>
        <a class="text-sm text-muted-foreground hover:underline text-[#848484] md:text-base/relaxed" href="/contacto">
          Contacto
        </a>
      </div>
    </div>
    <div class="flex flex-col items-start gap-4">
      <h3 class="text-sm font-medium">Siguenos</h3>
      <div class="flex gap-4">
        <a class="text-muted-foreground hover:text-primary" href="https://www.facebook.com/">
          <title>logo</title>
          <Image src="/icons/SocialMedia/fb.png" alt="Logo de Anka Safi" width="24" height="50" draggable="false" loading="lazy"/>
        </a>
        <a class="text-muted-foreground hover:text-primary" href="https://x.com/">
          <title>logo</title>
          <Image src="/icons/SocialMedia/x.png" alt="Logo de Anka Safi" width="24" height="50" draggable="false" loading="lazy"/>
        </a>
        <a class="text-muted-foreground hover:text-primary" href="https://www.instagram.com/">
          <title>logo</title>
          <Image src="/icons/SocialMedia/instagram.png" alt="Logo de Anka Safi" width="24" height="50" draggable="false" loading="lazy"/>
        </a>
      </div>
    </div>
  </div>
</footer>
