---
import Title from "../Title/Title.astro";
---

<section class="container mx-auto my-8">
  <Title title="Información Financiera" />
  <p class="mb-5 leading-7 text-[#848484]">
    Uno de nuestros valores es la transparencia y la seguridad. Brindamos todos
    los recursos para que puedas saber nuestros procesos en el tiempo.
  </p>
  <ul class="list-disc pl-10 mb-5 leading-7 text-[#848484]">
    <li>Información financiera anual auditada individual</li>
    <li>Información financiera intermedia individual</li>
    <li>Memoria anual</li>
  </ul>
  <a
    class="py-5 leading-7 text-[#848484]"
    href="https://www.smv.gob.pe/SIMV/Frm_InfoFinanFondosInversion?data=7C0FC602E6F9548CD5B5376D58EC9BD0119DC76FB2"
    >Accede a esta información a través del portal de la SMV</a
  >
  <a
    class="py-5 leading-7 text-[#848484]"
    href="https://www.smv.gob.pe/SIMV/Frm_HechosDeImportancia?data=EBE76110FDC9EF5632D5100F5B0448927EBDAC2CF7"
    >Hechos de Importancia</a
  >
  <a class="py-5 leading-7 text-[#848484]" href="/nosotros">Transparencia</a>
</section>
