---
const { src, alt, text } = Astro.props;
---

<div class="swiper-slide swiper-cover-item w-full h-[60vw] lg:md:sm:h-[30vw]">
  <img draggable="false" src={src} alt={alt} />
  <div class="app-content-slide w-full flex text-white absolute left-[50%] top-[20%] md:top-[50%] lg:md:sm:top-[38%]">
    <div class="container mx-auto flex flex-col flex-nowrap items-start px-5 lg:md:sm:p-0">
      <h1
        class="text-white text-3xl text-left font-bold uppercase md:text-5xl lg:md:sm:text-7xl lg:md:sm:mb-5"
      >
        {text}
      </h1>
    </div>
  </div>
</div>
<style>
    .app-content-slide {
    transform: translate(-50%, -50%);
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-cover-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vw;
    background: rgba(32, 32, 32, 0.404);
    z-index: -10;
  }
  .swiper-cover-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
  }

</style>
